.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
}

.input-container input,
.input-container select {
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  background-color: #44454f;
  padding: 12px 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
}

.input-container input::placeholder {
  color: #72747e;
}
