#dashboard .row {
  display: flex;
  flex: 1;
  gap: 24px;
}

#dashboard .col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#dashboard .col:nth-child(1) {
  flex: 2.5;
}

#dashboard .col:nth-child(2) {
  flex: 1;
}

/* Chart */
#dashboard .chart-container {
  position: relative;
  height: 376px;
}

/* Categories */
#dashboard .categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#dashboard .categories .card {
  color: #ffffff;
  background-color: #36373f;
  padding: 16px;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 4px;
}

#dashboard .categories .card h4 {
  color: #838590;
  margin: 4px 0;
  font-weight: 400;
  font-size: 12px;
}

#dashboard .categories .card h2 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

#dashboard .categories .progress-bar-container {
  background-color: #6e6f79;
  margin-top: 16px;
  height: 4px;
  border-radius: 2px;
}

#dashboard .categories .progress-bar {
  height: 100%;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  #dashboard .row {
    flex-direction: column;
  }

  #dashboard .categories {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #dashboard .categories .card {
    flex: 300px;
  }
}

@media (max-width: 768px) {
  #dashboard .chart-container {
    margin: -12px;
  }
}
