#categories .loading-message {
  text-align: center;
  color: white;
  margin-top: 32px;
}

#categories .container {
  width: 600px;
}

#categories .search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 8px;
}

#categories .form-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  #categories .container {
    width: 100%;
  }
}
