#register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #ffffff;
}

#register .card {
  width: 512px;
}

#register .logo {
  margin: 0;
  font-size: 24px;
}

#register .logo i {
  padding-right: 12px;
}

#register form {
  padding: 96px 48px;
}

#register form .title {
  margin: 0;
}

#register form .subtitle {
  color: #838590;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 32px;
}

#register form label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #8f909a;
}

#register form input {
  margin-bottom: 16px;
}

#register form button {
  width: 100%;
  margin-top: 4px;
}

#register form .sign-up {
  color: #838590;
  margin-top: 32px;
  text-align: center;
}

#register form .sign-up a {
  color: #0191fd;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 768px) {
  #login {
    padding: 16px;
  }

  #login .card {
    width: 100%;
  }

  #login form {
    padding: 48px 0;
  }
}
